<div class="inventual-dashboard-area">
    <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
        <div class="inventual-header-bar-responsive" (click)="myfunction()">
            <mat-icon>reorder</mat-icon>
        </div>
        <div
            class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
            <app-menu></app-menu>
        </div>
        <div class="inventual-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
    </div>
    <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
        <div class="inventual-header-area">
            <div
                class="inventual-header-wrapper custom-height-70 px-7 bg-white border-b border-solid border-border">
                <div class="grid grid-cols-12 items-center h-full">
                    <div class="col-span-12">
                        <app-header></app-header>
                    </div>
                </div>
            </div>
        </div>
        <div class="inventual-breadcrumb-area px-7 py-9 bg-white mb-5">
            <div class="inventual-breadcrumb-area-inner px-0.5">
                <h5 class="text-[20px] text-heading font-bold mb-3">Role Permission </h5>
                <div class="inventual-breadcrumb-area-inner-wrap">
                    <span class="text-[14px] text-body font-normal inline-block me-2">Administrative Tools</span>
                    <span class="text-[14px] text-body font-normal inline-block me-2">></span>
                    <span class="text-[14px] text-body font-normal inline-block me-2">Settings</span>
                    <span class="text-[14px] text-body font-normal inline-block me-2">></span>
                    <span class="text-[14px] text-body font-normal inline-block me-2">Role Permission</span>
                </div>
            </div>
        </div>
        <div class="inventual-content-area px-7 pb-0">
            <div class="inventual-managesale-area bg-white p-7 custom-shadow rounded-8 mb-5">
                <div class="grid grid-cols-12">
                    <div class="col-span-12">
                        <div class="flex flex-wrap gap-5 mb-5 items-end">
                            <div class="inventual-select-field flex-grow max-w-[350px]">
                                <h4 class="text-[15px] font-bold text-heading mb-3">Create Role</h4>
                                <div class="inventual-input-field-style">
                                    <mat-form-field class="w-full" [floatLabel]="'always'">
                                        <mat-label class="hidden">Create Role</mat-label>
                                        <input matInput [placeholder]="'Create Role'">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button type="button" class="inventual-btn primary-btn">Create Role</button>
                        </div>
                    </div>
                </div>
                <div class="inventual-role-area">
                    <div class="inventual-role-inner">
                        <div
                            class="inventual-role-inner-wrapper border border-solid border-border border-b-0 mb-7">
                            <div
                                class="inventual-role-list border-b border-solid border-border flex items-center">
                                <!-- <div class="inventual-role-left">
                                    <div class="inventual-role-topic">
                                        <h5 class="text-[18px] font-semibold text-heading mb-4">Products</h5>
                                        <div class="inventual-role-checkbox default-light-theme">
                                            <mat-checkbox class="example-margin" [checked]="allComplete"
                                                [color]="task.color" [indeterminate]="someComplete()"
                                                (change)="setAll($event.checked)">
                                                {{task.name}}
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="inventual-role-right w-full border-s border-solid border-border">
                                    <div
                                        class="inventual-role-category-list custom-height-70 flex items-center border-b border-solid border-border">
                                        <div class="inventual-role-category">
                                            <h5>Products</h5>
                                        </div>
                                        <div class="inventual-role-checkbox-wrapper">
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck1($event.checked)">
                                                    Add
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck2($event.checked)">
                                                    View
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck3($event.checked)">
                                                    Edit
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck4($event.checked)">
                                                    Delete
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="inventual-role-category-list custom-height-70 flex items-center border-b border-solid border-border">
                                        <div class="inventual-role-category">
                                            <h5>Bardcode</h5>
                                        </div>
                                        <div class="inventual-role-checkbox-wrapper">
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck5($event.checked)">
                                                    Add
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck6($event.checked)">
                                                    View
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck7($event.checked)">
                                                    Edit
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck8($event.checked)">
                                                    Delete
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="inventual-role-category-list custom-height-70 flex items-center border-b border-solid border-border">
                                        <div class="inventual-role-category">
                                            <h5>Category</h5>
                                        </div>
                                        <div class="inventual-role-checkbox-wrapper">
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck9($event.checked)">
                                                    Add
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck10($event.checked)">
                                                    View
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck11($event.checked)">
                                                    Edit
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck12($event.checked)">
                                                    Delete
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="inventual-role-category-list custom-height-70 flex items-center border-b border-solid border-border">
                                        <div class="inventual-role-category">
                                            <h5>Brand</h5>
                                        </div>
                                        <div class="inventual-role-checkbox-wrapper">
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck13($event.checked)">
                                                    Add
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck14($event.checked)">
                                                    View
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck15($event.checked)">
                                                    Edit
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck16($event.checked)">
                                                    Delete
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="inventual-role-category-list custom-height-70 flex items-center border-b border-solid border-border">
                                        <div class="inventual-role-category">
                                            <h5>Unite / Value</h5>
                                        </div>
                                        <div class="inventual-role-checkbox-wrapper">
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck17($event.checked)">
                                                    Add
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck18($event.checked)">
                                                    View
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck19($event.checked)">
                                                    Edit
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck20($event.checked)">
                                                    Delete
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="inventual-role-category-list custom-height-70 flex items-center border-b-0 border-solid border-border">
                                        <div class="inventual-role-category">
                                            <h5>Adjustment</h5>
                                        </div>
                                        <div class="inventual-role-checkbox-wrapper">
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck21($event.checked)">
                                                    Add
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck20($event.checked)">
                                                    View
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck21($event.checked)">
                                                    Edit
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck22($event.checked)">
                                                    Delete
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <app-rolerowtwo></app-rolerowtwo>

                            <app-rolerowthree></app-rolerowthree>

                            <app-rolerowfour></app-rolerowfour>

                            <app-rolerowfive></app-rolerowfive>

                            <app-rolerowsix></app-rolerowsix>

                            <app-rolerowseven></app-rolerowseven> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inventual-copyright-area">
            <app-copyright></app-copyright>
        </div>
    </div>
</div>