<div class="inventual-dashboard-area">
    <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
        <div class="inventual-header-bar-responsive" (click)="myfunction()">
            <mat-icon>reorder</mat-icon>
        </div>
        <div
            class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
            <app-menu></app-menu>
        </div>
        <div class="inventual-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
    </div>
    <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
        <div class="inventual-header-area">
            <div
                class="inventual-header-wrapper custom-height-70 px-7 bg-white border-b border-solid border-border">
                <div class="grid grid-cols-12 items-center h-full">
                    <div class="col-span-12">
                        <app-header></app-header>
                    </div>
                </div>
            </div>
        </div>
        <div class="inventual-breadcrumb-area px-7 py-9 bg-white mb-5">
            <div class="inventual-breadcrumb-area-inner px-0.5">
                <h5 class="text-[20px] text-heading font-bold mb-3">Elements</h5>
                <div class="inventual-breadcrumb-area-inner-wrap">
                    <span class="text-[14px] text-body font-normal inline-block me-2">Inventual</span>
                    <span class="text-[14px] text-body font-normal inline-block me-2">></span>
                    <span class="text-[14px] text-body font-normal inline-block me-2">Elements</span>
                </div>
            </div>
        </div>
        <div class="inventual-content-area px-7">
            <app-table-without-checkbox></app-table-without-checkbox>
            <app-table-with-checkbox></app-table-with-checkbox>
            <app-table-with-total></app-table-with-total>
        </div>
        <div class="inventual-copyright-area pt-9 xl:pt-0 lg:pt-0 md:pt-0 sm:pt-0">
            <app-copyright></app-copyright>
        </div>
    </div>
</div>