<div class="inventual-dashboard-area">
  <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
    <div class="inventual-header-bar-responsive" (click)="myfunction()">
      <mat-icon>reorder</mat-icon>
    </div>
    <div
      class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
      <app-menu></app-menu>
    </div>
    <div class="inventual-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
  </div>
  <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
    <div class="inventual-header-area">
      <div
        class="inventual-header-wrapper custom-height-70 px-7 bg-white border-b border-solid border-border">
        <div class="grid grid-cols-12 items-center h-full">
          <div class="col-span-12">
            <app-header></app-header>
          </div>
        </div>
      </div>
    </div>
    <div class="inventual-breadcrumb-area px-7 py-9 bg-white mb-5">
      <div class="inventual-breadcrumb-area-inner px-0.5">
        <h5 class="text-[20px] text-heading font-bold mb-3">Message</h5>
        <div class="inventual-breadcrumb-area-inner-wrap">
          <span class="text-[14px] text-body font-normal inline-block me-2">Message</span>
        </div>
      </div>
    </div>
    <div class="inventual-content-area px-7">
      <div class="inventual-addsupplier-area bg-white p-7 custom-shadow rounded-8 mb-1">
        <div class="inventual-message-inbox-main">
          <h5 class="text-[20px] text-heading font-bold mb-11">Message</h5>
          <div class="inventual-message-inbox-wrapper">
            <div class="inventual-material-btn mb-8">
              <button mat-raised-button color="primary" [routerLink]="['/newmessage']"><mat-icon>add</mat-icon>New
                Message</button>
            </div>
            <mat-tab-group [@.disabled]="true">
              <mat-tab>
                <ng-template mat-tab-label>
                  <button type="button"><mat-icon> mail_outline</mat-icon> Inbox <span>(7)</span></button>
                </ng-template>
                <div class="inventual-message-inbox-body">
                  <app-message></app-message>
                </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <button type="button"><mat-icon> near_me</mat-icon> Sent <span>(5)</span></button>
                </ng-template>
                <div class="inventual-message-inbox-body">
                  <app-messagesent></app-messagesent>
                </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <button type="button"><mat-icon>drafts</mat-icon> Draft <span>(3)</span></button>
                </ng-template>
                <div class="inventual-message-inbox-body">
                  <app-messagedraft></app-messagedraft>
                </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <button type="button"><mat-icon>label_important</mat-icon> Important <span>(2)</span></button>
                </ng-template>
                <div class="inventual-message-inbox-body">
                  <app-message></app-message>
                </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <button type="button"><mat-icon>delete_outline</mat-icon> Trash <span>(1)</span></button>
                </ng-template>
                <div class="inventual-message-inbox-body">
                  <app-messagetrash></app-messagetrash>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>

      </div>
    </div>

    <div class="inventual-copyright-area pt-9 xl:pt-0 lg:pt-0 md:pt-0 sm:pt-0">
      <app-copyright></app-copyright>
    </div>
  </div>
</div>