<div class="inventual-dashboard-area">
    <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
      <div class="inventual-header-bar-responsive" (click)="myfunction()">
        <mat-icon>reorder</mat-icon>
      </div>
      <div class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
        <app-menu></app-menu>
      </div>
      <div class="inventual-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
    </div>
    <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
      <div class="inventual-header-area">
        <div class="inventual-header-wrapper custom-height-70 px-7 bg-white border-b border-solid border-border">
          <div class="grid grid-cols-12 items-center h-full">
            <div class="col-span-12">
              <app-header></app-header>
            </div>
          </div>
        </div>
      </div>
          <div class="inventual-breadcrumb-area px-7 py-9 bg-white mb-5">
              <div class="inventual-breadcrumb-area-inner px-0.5">
                  <h5 class="text-[20px] text-heading font-bold mb-3">Ajouter Vente</h5>
                  <div class="inventual-breadcrumb-area-inner-wrap">
                      <span class="text-[14px] text-body font-normal inline-block me-2">Gestion Ventes</span>
                      <span class="text-[14px] text-body font-normal inline-block me-2">></span>
                      <span class="text-[14px] text-body font-normal inline-block me-2">Ajouter Vente</span>
                  </div>
              </div>
          </div>
          <div class="inventual-content-area px-7">
             <div class="inventual-addsupplier-area bg-white p-7 custom-shadow rounded-8 mb-5">
               <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
                <div class="col-span-4 md:col-span-6 sm:col-span-12">
                  <div class="inventual-select-field mb-5">
                    <h5 class="text-[15px] text-heading font-semibold mb-3">Quantité</h5>
                    <div class="inventual-input-field-style">
                      <mat-form-field class="w-full" [floatLabel]="'always'">
                        <mat-label class="hidden"></mat-label>
                        <input matInput [placeholder]="'quantité'">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-span-4 md:col-span-6 sm:col-span-12">
                  <div class="inventual-select-field mb-5">
                    <h5 class="text-[15px] text-heading font-semibold mb-3">Date_vente</h5>
                    <div class="inventual-input-field-style">
                      <mat-form-field class="w-full" [floatLabel]="'always'">
                        <mat-label class="hidden"></mat-label>
                        <input matInput [placeholder]="'date_vente'">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                 <div class="col-span-4 md:col-span-6 sm:col-span-12">
                   <div class="inventual-select-field mb-5">
                     <h5 class="text-[15px] text-heading font-semibold mb-3">Date_livraison</h5>
                     <div class="inventual-input-field-style">
                       <mat-form-field class="w-full" [floatLabel]="'always'">
                         <mat-label class="hidden"></mat-label>
                         <input type="email" matInput [placeholder]="'date_livraison'">
                       </mat-form-field>
                     </div>
                   </div>
                 </div>
                 <div class="col-span-4 md:col-span-6 sm:col-span-12">
                  <div class="inventual-select-field mb-5">
                    <h5 class="text-[15px] text-heading font-semibold mb-3">Statut</h5>
                    <div class="inventual-input-field-style">
                      <mat-form-field class="w-full" [floatLabel]="'always'">
                        <mat-label class="hidden"> </mat-label>
                        <input matInput [placeholder]="'Statut'">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-span-12">
                  <div class="inventual-material-btn pt-2.5 justify-end">
                      <button mat-raised-button color="primary">Ajouter vente</button>
                 </div>
                </div>
              </div>
             </div>
          </div>
          <div class="inventual-copyright-area pt-28 xl:pt-0 lg:pt-0 md:pt-0 sm:pt-0">
              <app-copyright></app-copyright>
          </div>
      </div>
    </div>

