@import '../../../../../../custom-palettes.scss';

@include inventualPopupClose;
@include inventualSelectFieldStyle;
@include inventualCalenderFieldStyle;
@include inventualMaterialBtn;
@include popupCommonStyle;
@include inventualInputFieldStyle;
@include inventualTextareaFieldStyle;

.inventual-popup-inner {
    width: 700px;
    @apply p-7;
    @media (min-width: 768px) and (max-width: 991px) {
        width: 600px;
    }
    @media (min-width: 576px) and (max-width: 767px) {
		width: 440px;
	}
    @media (min-width: 450px) and (max-width: 575px) {
		width: 350px;
	}
    @media (max-width: 449px) {
		width: 100%;
	}
}