<div class="inventual-dashboard-supplier-wrapper3 p-7 bg-white rounded-8">
    <div class="inventual-dashboard-supplier-header flex flex-wrap items-center justify-between mb-6 m-0.5">
        <h5 class="text-[18px] text-heading font-bold sm:mb-2">Meilleurs fournisseurs<span class="text-[18px] text-heading font-normal">(December)</span></h5>
        <span class="common-blue-badge sm:mb-2">Top 5</span>
    </div>
    <div class="inventual-dashboard-supplier border-b-0 border border-solid border-border m-0.5">
        <div class="inventual-dashboard-supplier-list3 h-10 flex justify-between items-center border-b border-solid border-border">
            <div class="inventual-dashboard-supplier-list-sl3 border-e border-solid border-border">
                <h5 class="text-[15px] font-semibold text-heading">SL</h5>
            </div>
            <div class="inventual-dashboard-supplier-list-name3 ps-5">
                <h5 class="text-[15px] font-semibold text-heading">Nom</h5>
            </div>
            <div class="inventual-dashboard-supplier-list-amount3 border-s border-solid border-border">
                <h5 class="text-[15px] font-semibold text-heading">Montane</h5>
            </div>
        </div>
        <div class="inventual-dashboard-supplier-list3 h-20 flex justify-between items-center border-b border-solid border-border">
            <div class="inventual-dashboard-supplier-list-sl3 border-e border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">01</span>
            </div>
            <div class="inventual-dashboard-supplier-list-name3 ps-5">
                <a [routerLink]="['/supplierlist']" class="text-[15px] font-normal text-body block mb-3">Steve Smith</a>
                <a href="tel:01711-525236" class="text-[15px] font-normal text-body block">01711-52523</a>
            </div>
            <div class="inventual-dashboard-supplier-list-amount3 border-s border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">325,712</span>
            </div>
        </div>
        <div class="inventual-dashboard-supplier-list3 h-20 flex justify-between items-center border-b border-solid border-border">
            <div class="inventual-dashboard-supplier-list-sl3 border-e border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">02</span>
            </div>
            <div class="inventual-dashboard-supplier-list-name3 ps-5">
                <a [routerLink]="['/supplierlist']" class="text-[15px] font-normal text-body block mb-3">Jhon Doe</a>
                <a href="tel:01711-525236" class="text-[15px] font-normal text-body block">01711-52524</a>
            </div>
            <div class="inventual-dashboard-supplier-list-amount3 border-s border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">210,410</span>
            </div>
        </div>
        <div class="inventual-dashboard-supplier-list3 h-20 flex justify-between items-center border-b border-solid border-border">
            <div class="inventual-dashboard-supplier-list-sl3 border-e border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">03</span>
            </div>
            <div class="inventual-dashboard-supplier-list-name3 ps-5">
                <a [routerLink]="['/supplierlist']" class="text-[15px] font-normal text-body block mb-3">David Warner</a>
                <a href="tel:01711-525236" class="text-[15px] font-normal text-body block">01711-52525</a>
            </div>
            <div class="inventual-dashboard-supplier-list-amount3 border-s border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">172,200</span>
            </div>
        </div>
        <div class="inventual-dashboard-supplier-list3 h-20 flex justify-between items-center border-b border-solid border-border">
            <div class="inventual-dashboard-supplier-list-sl3 border-e border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">04</span>
            </div>
            <div class="inventual-dashboard-supplier-list-name3 ps-5">
                <a [routerLink]="['/supplierlist']" class="text-[15px] font-normal text-body block mb-3">Shane Watson</a>
                <a href="tel:01711-525236" class="text-[15px] font-normal text-body block">01711-52526</a>
            </div>
            <div class="inventual-dashboard-supplier-list-amount3 border-s border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">137,412</span>
            </div>
        </div>
        <div class="inventual-dashboard-supplier-list3 h-20 flex justify-between items-center border-b border-solid border-border">
            <div class="inventual-dashboard-supplier-list-sl3 border-e border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">05</span>
            </div>
            <div class="inventual-dashboard-supplier-list-name3 ps-5">
                <a [routerLink]="['/supplierlist']" class="text-[15px] font-normal text-body block mb-3">Mitchel Stark</a>
                <a href="tel:01711-525236" class="text-[15px] font-normal text-body block">01711-52527</a>
            </div>
            <div class="inventual-dashboard-supplier-list-amount3 border-s border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">105,702</span>
            </div>
        </div>
    </div>
</div>