<div class="inventual-dashboard-topseller-wrapper p-7 bg-white rounded-8 mb-5">
    <div class="inventual-dashboard-supplier-header flex items-center justify-between mb-6 m-0.5">
        <h5 class="text-[18px] text-heading font-bold">Top Seller <span class="text-[18px] text-heading font-normal">(December)</span></h5>
        <span class="common-blue-badge">Top 5</span>
    </div>
    <div class="inventual-dashboard-supplier border-b-0 border border-solid border-border m-0.5">
        <div class="inventual-dashboard-supplier-list h-10 flex justify-between items-center border-b border-solid border-border">
            <div class="inventual-dashboard-supplier-list-sl border-e border-solid border-border">
                <h5 class="text-[15px] font-semibold text-heading">SL</h5>
            </div>
            <div class="inventual-dashboard-supplier-list-name ps-5">
                <h5 class="text-[15px] font-semibold text-heading">Name</h5>
            </div>
            <div class="inventual-dashboard-supplier-list-amount border-s border-solid border-border">
                <h5 class="text-[15px] font-semibold text-heading">Qty</h5>
            </div>
        </div>
        <div class="inventual-dashboard-supplier-list h-20 flex justify-between items-center border-b border-solid border-border">
            <div class="inventual-dashboard-supplier-list-sl border-e border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">01</span>
            </div>
            <div class="inventual-dashboard-supplier-list-name ps-5">
                <a [routerLink]="['/managesale']" class="text-[15px] font-normal text-body block mb-3">Laptop</a>
                <span class="text-[15px] font-normal text-body block">[D-8752028]</span>
            </div>
            <div class="inventual-dashboard-supplier-list-amount border-s border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">25</span>
            </div>
        </div>
        <div class="inventual-dashboard-supplier-list h-20 flex justify-between items-center border-b border-solid border-border">
            <div class="inventual-dashboard-supplier-list-sl border-e border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">02</span>
            </div>
            <div class="inventual-dashboard-supplier-list-name ps-5">
                <a [routerLink]="['/managesale']" class="text-[15px] font-normal text-body block mb-3">Desktop</a>
                <span class="text-[15px] font-normal text-body block">[D-8752027]</span>
            </div>
            <div class="inventual-dashboard-supplier-list-amount border-s border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">20</span>
            </div>
        </div>
        <div class="inventual-dashboard-supplier-list h-20 flex justify-between items-center border-b border-solid border-border">
            <div class="inventual-dashboard-supplier-list-sl border-e border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">03</span>
            </div>
            <div class="inventual-dashboard-supplier-list-name ps-5">
                <a [routerLink]="['/managesale']" class="text-[15px] font-normal text-body block mb-3">Printer</a>
                <span class="text-[15px] font-normal text-body block">[D-8752026]</span>
            </div>
            <div class="inventual-dashboard-supplier-list-amount border-s border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">17</span>
            </div>
        </div>
        <div class="inventual-dashboard-supplier-list h-20 flex justify-between items-center border-b border-solid border-border">
            <div class="inventual-dashboard-supplier-list-sl border-e border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">04</span>
            </div>
            <div class="inventual-dashboard-supplier-list-name ps-5">
                <a [routerLink]="['/managesale']" class="text-[15px] font-normal text-body block mb-3">Mouse</a>
                <span class="text-[15px] font-normal text-body block">[D-8752025]</span>
            </div>
            <div class="inventual-dashboard-supplier-list-amount border-s border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">13</span>
            </div>
        </div>
        <div class="inventual-dashboard-supplier-list h-20 flex justify-between items-center border-b border-solid border-border">
            <div class="inventual-dashboard-supplier-list-sl border-e border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">05</span>
            </div>
            <div class="inventual-dashboard-supplier-list-name ps-5">
                <a [routerLink]="['/managesale']" class="text-[15px] font-normal text-body block mb-3">CC Camera</a>
                <span class="text-[15px] font-normal text-body block">[D-8752024]</span>
            </div>
            <div class="inventual-dashboard-supplier-list-amount border-s border-solid border-border">
                <span class="text-[15px] font-normal text-body inline-block mb-6">10</span>
            </div>
        </div>
    </div>
</div>
