<div class="inventual-notification-area">
    <div class="grid grid-cols-12 gap-x-0 sm:gap-x-0">
        <div class="col-span-12">
          <div class="inventual-notification-wrapper bg-white p-5 rounded-[5px]">
              <div class="inventual-notification-wrapper-inner">
                <div class="inventual-notification-search-wrapper mb-2.5">
                    <div class="grid grid-cols-12 items-center">
                        <div class="col-span-8 sm:col-span-12">
                            <div class="inventual-notification-search">
                                <div class="inventual-select-field mb-5">
                                    <div class="inventual-input-field-style relative">
                                    <mat-form-field class="w-full" [floatLabel]="'always'">
                                        <mat-label class="hidden">Bdevs Technology</mat-label>
                                        <input matInput [placeholder]="'Search mail'">
                                    </mat-form-field>
                                    <mat-icon>search</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-4 sm:col-span-12">
                            <div class="inventual-notification-action text-end mb-5 sm:text-start">
                                <button type="button"><svg id="download-button" xmlns="http://www.w3.org/2000/svg" width="17.41" height="17.41" viewBox="0 0 17.41 17.41">
                                    <g id="archive">
                                    <path id="Path_5749" data-name="Path 5749" d="M16.927,2.128,15.572.484A1.248,1.248,0,0,0,14.509,0H2.9A1.6,1.6,0,0,0,1.741.484L.484,2.128A2.037,2.037,0,0,0,0,3.385v12.09A1.94,1.94,0,0,0,1.934,17.41H15.476a1.94,1.94,0,0,0,1.934-1.934V3.385A2.037,2.037,0,0,0,16.927,2.128Zm-8.221,11.9-5.32-5.32H6.771V6.771H10.64V8.705h3.385ZM2.031,1.934,2.8.967H14.412l.871.967Z" fill="#616161"/>
                                    </g>
                                </svg>
                                </button>
                                <button type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18.092" height="17.737" viewBox="0 0 18.092 17.737">
                                        <g id="delete-button" transform="translate(0 -5.02)">
                                        <g id="Layer_2_9_" transform="translate(0 5.02)">
                                            <g id="solid_9_" transform="translate(0 0)">
                                            <path id="Path_5752" data-name="Path 5752" d="M60.235,115.451v12.416a1.419,1.419,0,0,0,1.419,1.419H73.006a1.419,1.419,0,0,0,1.419-1.419V115.451Zm4.257,10.642a.355.355,0,0,1-.355.355h-.709a.355.355,0,0,1-.355-.355v-7.8a.355.355,0,0,1,.355-.355h.709a.355.355,0,0,1,.355.355Zm3.547,0a.355.355,0,0,1-.355.355h-.71a.355.355,0,0,1-.355-.355v-7.8a.355.355,0,0,1,.355-.355h.709a.355.355,0,0,1,.355.355v7.8Zm3.547,0a.355.355,0,0,1-.355.355h-.709a.355.355,0,0,1-.355-.355v-7.8a.355.355,0,0,1,.355-.355h.709a.355.355,0,0,1,.355.355Z" transform="translate(-58.107 -111.549)" fill="#616161"/>
                                            <path id="Path_5753" data-name="Path 5753" d="M166.3,5.02h-4.257a1.419,1.419,0,0,0-1.419,1.419h7.095A1.419,1.419,0,0,0,166.3,5.02Z" transform="translate(-154.951 -5.02)" fill="#616161"/>
                                            <path id="Path_5754" data-name="Path 5754" d="M.355,65.255H17.737a.355.355,0,0,1,.355.355v.355a.355.355,0,0,1-.355.355H.355A.355.355,0,0,1,0,65.964V65.61a.355.355,0,0,1,.355-.355Z" transform="translate(0 -63.127)" fill="#616161"/>
                                            </g>
                                        </g>
                                        </g>
                                    </svg>                                              
                                </button>
                                <button type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20.337" height="19.395" viewBox="0 0 20.337 19.395">
                                        <path id="star" d="M20.336,7.516a.883.883,0,0,1-.318.586l-4.436,4.327,1.051,6.11a1.816,1.816,0,0,1,.012.245.721.721,0,0,1-.128.434.432.432,0,0,1-.373.177.987.987,0,0,1-.489-.147l-5.487-2.884L4.681,19.248a1.037,1.037,0,0,1-.489.147.444.444,0,0,1-.385-.177.724.724,0,0,1-.129-.434,2,2,0,0,1,.024-.245l1.051-6.11L.306,8.1A.931.931,0,0,1,0,7.516q0-.452.685-.562L6.82,6.062,9.569.5q.232-.5.6-.5t.6.5l2.75,5.561,6.135.892q.685.11.685.562Z" fill="#616161"/>
                                    </svg>
                                </button>
                                <button type="button"><svg xmlns="http://www.w3.org/2000/svg" width="19.096" height="17.737" viewBox="0 0 19.096 17.737">
                                    <path id="Path_5751" data-name="Path 5751" d="M4.39,7H14.705c.647,0,1.168,0,1.591.041a2.676,2.676,0,0,1,1.17.346,3.322,3.322,0,0,1,1.3,1.55,4.2,4.2,0,0,1,.291,1.392c.034.5.034,1.122.034,1.891v7.3h0c0,.769,0,1.389-.034,1.891a4.2,4.2,0,0,1-.291,1.392,3.323,3.323,0,0,1-1.3,1.55,2.677,2.677,0,0,1-1.17.346c-.422.041-.944.041-1.591.041H4.39c-.647,0-1.168,0-1.591-.041a2.677,2.677,0,0,1-1.17-.346,3.322,3.322,0,0,1-1.3-1.55,4.2,4.2,0,0,1-.291-1.392C0,20.906,0,20.286,0,19.517v-7.3c0-.769,0-1.389.035-1.891A4.2,4.2,0,0,1,.325,8.937a3.322,3.322,0,0,1,1.3-1.55A2.676,2.676,0,0,1,2.8,7.041C3.222,7,3.744,7,4.39,7ZM8.6,12.9a.8.8,0,0,1-.139-.99.539.539,0,0,1,.832-.165l4.177,3.547a.792.792,0,0,1,0,1.155L9.3,19.993a.539.539,0,0,1-.832-.165.8.8,0,0,1,.139-.99l2.662-2.261h-5.3a.72.72,0,0,1,0-1.419h5.3Z" transform="translate(0 -7)" fill="#616161" fill-rule="evenodd"/>
                                </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-tab-group [@.disabled]="true" >
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <div class="inventual-notification rounded-[10px] flex flex-wrap p-5">
                                <div class="inventual-notification-img me-5 w-12">
                                    <img src="../../../../assets/img/user/inbox-5.png" alt="img not found">
                                </div>
                                <div class="inventual-notification-text w-full relative">
                                    <h5 class="text-[18px] font-bold text-heading mb-1">Steve Long</h5>
                                    <span class="text-[14px] font-semibold text-heading block mb-1">Minimize the stock</span>
                                    <p class="text-[13px] font-normal text-body">This is an automatically generated.....</p>
                                    <figure class="text-[12px] font-semibold text-heading absolute top-0 -end-5">06: 40 AM</figure>
                                </div>
                            </div>
                        </ng-template>
                        <div class="inventual-notification-body">
                            <h4 class="text-[24px] font-bold text-heading mb-10">Minimize the stock</h4>
                            <h5 class="text-[18px] font-bold text-heading mb-1">Steve Long</h5>
                            <span class="text-[14px] font-semibold text-body block mb-11">06: 40 AM</span>
                            <span class="text-[16px] font-normal text-body block mb-4 pb-0.5">Hi, </span>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-6">In September last year, I wrote about some of the latest updates in our beloved DevTools, across Firefox, Chrome, Safari, and Edge. Four months have already passed since then, and the different teams working on DevTools have been busy! In these four months, they built a lot of new things for us to use. </p>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-6">In fact, administration experience is often assumed or glossed over in software, because 99% users never engage with it directly.</p>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-12 pb-0.5">From powerful productivity improvements to entire new panels, they’ve been continuing to close the parity gap and innovate with new means of debugging and improving our web experiences.</p>
                            <p class="text-[16px] font-normal text-body mb-12">Thanks!</p>
                            <div class="inventual-notification-feedback default-light-theme">
                                <button mat-raised-button color="primary" [routerLink]="['/newmessage']"><mat-icon>reply</mat-icon> Reply</button>
                                <button mat-raised-button color="primary"><mat-icon>forward</mat-icon> Forward</button>
                                <button mat-raised-button color="primary"><mat-icon>delete</mat-icon> Delete</button>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <div class="inventual-notification rounded-[10px] flex flex-wrap p-5">
                                <div class="inventual-notification-img me-5 w-12">
                                    <img src="../../../../assets/img/user/inbox-1.png" alt="img not found">
                                </div>
                                <div class="inventual-notification-text w-full relative">
                                    <h5 class="text-[18px] font-bold text-heading mb-1">Andrew Tye</h5>
                                    <span class="text-[14px] font-semibold text-heading block mb-1">Minimize the stock</span>
                                    <p class="text-[13px] font-normal text-body">If you have additional questions.....</p>
                                    <figure class="text-[12px] font-semibold text-heading absolute top-0 -end-5">03: 18 PM</figure>
                                </div>
                            </div>
                        </ng-template>
                        <div class="inventual-notification-body">
                            <h4 class="text-[24px] font-bold text-heading mb-10">Minimize the stock</h4>
                            <h5 class="text-[18px] font-bold text-heading mb-1">Andrew Tye</h5>
                            <span class="text-[14px] font-semibold text-body block mb-11">03: 18 PM</span>
                            <span class="text-[16px] font-normal text-body block mb-4 pb-0.5">Hi, </span>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-6">The Agricultural Marketing Service (AMS) administers programs that create domestic and international marketing opportunities for U.S. producers of food, fiber, and specialty crops. AMS also provides the agriculture industry with valuable services to ensure the quality and availability of wholesome food for consumers across the country and around the world.</p>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-6">In fact, administration experience is often assumed or glossed over in software, because 99% users never engage with it directly.</p>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-12 pb-0.5">From powerful productivity improvements to entire new panels, they’ve been continuing to close the parity gap and innovate with new means of debugging and improving our web experiences.</p>
                            <p class="text-[16px] font-normal text-body mb-12">Thanks!</p>
                            <div class="inventual-notification-feedback default-light-theme">
                                <button mat-raised-button color="primary" [routerLink]="['/newmessage']"><mat-icon>reply</mat-icon> Reply</button>
                                <button mat-raised-button color="primary"><mat-icon>forward</mat-icon> Forward</button>
                                <button mat-raised-button color="primary"><mat-icon>delete</mat-icon> Delete</button>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <div class="inventual-notification rounded-[10px] flex flex-wrap p-5">
                                <div class="inventual-notification-img me-5 w-12">
                                    <img src="../../../../assets/img/user/inbox-3.png" alt="img not found">
                                </div>
                                <div class="inventual-notification-text w-full relative">
                                    <h5 class="text-[18px] font-bold text-heading mb-1">Steve Smith</h5>
                                    <span class="text-[14px] font-semibold text-heading block mb-1">Minimize the stock</span>
                                    <p class="text-[13px] font-normal text-body">Teams with more than three.....</p>
                                    <figure class="text-[12px] font-semibold text-heading absolute top-0 -end-5">11: 47 PM</figure>
                                </div>
                            </div>
                        </ng-template>
                        <div class="inventual-notification-body">
                            <h4 class="text-[24px] font-bold text-heading mb-10">Minimize the stock</h4>
                            <h5 class="text-[18px] font-bold text-heading mb-1">Steve Smith</h5>
                            <span class="text-[14px] font-semibold text-body block mb-11">11: 47 PM</span>
                            <span class="text-[16px] font-normal text-body block mb-4 pb-0.5">Hi, </span>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-6">I wrote about some of the latest updates in our beloved DevTools, across Firefox, Chrome, Safari, and Edge. Four months have already passed since then, and the different teams working on DevTools have been busy! In these four months, they built a lot of new things for us to use. </p>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-6">You can file a complaint or tip if you suspect a violation of the Packers and Stockyards Act or any other Federal law governing fair and competitive marketing and contract growing of livestock and poultry</p>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-12 pb-0.5">To submit a Livestock & Poultry Competition complaint with the USDA and DOJ Agricultural Markets Enforcement Partnership, please click the below button.</p>
                            <p class="text-[16px] font-normal text-body mb-12">Thanks!</p>
                            <div class="inventual-notification-feedback default-light-theme">
                                <button mat-raised-button color="primary" [routerLink]="['/newmessage']"><mat-icon>reply</mat-icon> Reply</button>
                                <button mat-raised-button color="primary"><mat-icon>forward</mat-icon> Forward</button>
                                <button mat-raised-button color="primary"><mat-icon>delete</mat-icon> Delete</button>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <div class="inventual-notification rounded-[10px] flex flex-wrap p-5">
                                <div class="inventual-notification-img me-5 w-12">
                                    <img src="../../../../assets/img/user/inbox-2.png" alt="img not found">
                                </div>
                                <div class="inventual-notification-text w-full relative">
                                    <h5 class="text-[18px] font-bold text-heading mb-1">Williamson</h5>
                                    <span class="text-[14px] font-semibold text-heading block mb-1">Minimize the stock</span>
                                    <p class="text-[13px] font-normal text-body">on the northern coast of the Bay.....</p>
                                    <figure class="text-[12px] font-semibold text-heading absolute top-0 -end-5">07: 32 PM</figure>
                                </div>
                            </div>
                        </ng-template>
                        <div class="inventual-notification-body">
                            <h4 class="text-[24px] font-bold text-heading mb-10">Minimize the stock</h4>
                            <h5 class="text-[18px] font-bold text-heading mb-1">Williamson</h5>
                            <span class="text-[14px] font-semibold text-body block mb-11">07: 32 PM</span>
                            <span class="text-[16px] font-normal text-body block mb-4 pb-0.5">Hi, </span>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-6">Any information you provide is voluntary. Comments including vulgar language may not be processed; additionally, comments including implicit or explicit threats may be referred to the appropriate authorities. Other than contact information, please do not include any personally identifying information (PII), such as social security numbers or birth dates, in your comments.</p>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-6">For any information provided, USDA and DOJ will follow their respective Privacy and Confidentiality Policies found at: USDA Privacy and DOJ Confidentiality</p>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-12 pb-0.5">To submit a Livestock & Poultry Competition complaint with the USDA and DOJ Agricultural Markets Enforcement Partnership, please click the below button.</p>
                            <p class="text-[16px] font-normal text-body mb-12">Thanks!</p>
                            <div class="inventual-notification-feedback default-light-theme">
                                <button mat-raised-button color="primary" [routerLink]="['/newmessage']"><mat-icon>reply</mat-icon> Reply</button>
                                <button mat-raised-button color="primary"><mat-icon>forward</mat-icon> Forward</button>
                                <button mat-raised-button color="primary"><mat-icon>delete</mat-icon> Delete</button>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <div class="inventual-notification rounded-[10px] flex flex-wrap p-5">
                                <div class="inventual-notification-img me-5 w-12">
                                    <img src="../../../../assets/img/user/inbox-1.png" alt="img not found">
                                </div>
                                <div class="inventual-notification-text w-full relative">
                                    <h5 class="text-[18px] font-bold text-heading mb-1">Joseph David</h5>
                                    <span class="text-[14px] font-semibold text-heading block mb-1">Minimize the stock</span>
                                    <p class="text-[13px] font-normal text-body">Teams with more than three.....</p>
                                    <figure class="text-[12px] font-semibold text-heading absolute top-0 -end-5">02: 47 PM</figure>
                                </div>
                            </div>
                        </ng-template>
                        <div class="inventual-notification-body">
                            <h4 class="text-[24px] font-bold text-heading mb-10">Minimize the stock</h4>
                            <h5 class="text-[18px] font-bold text-heading mb-1">Joseph David</h5>
                            <span class="text-[14px] font-semibold text-body block mb-11">02: 47 PM</span>
                            <span class="text-[16px] font-normal text-body block mb-4 pb-0.5">Hi, </span>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-6">Joseph David was born in 1977 when he arrived in Los Angeles. His previous life in Tennessee, Wisconsin & Baltimore was a great & fertile time but new music and social changes led him to events that created a life in art. He graduated from Antioch College in Baltimore in 1975, worked as a roofer, aluminum siding mechanic, and ran a poetry reading series. </p>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-6">John met Exene Cervenka at the Venice poetry workshop Nov 1976 and he started working with Billy Zoom around the same time. </p>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-12 pb-0.5">When DJ Bonebrake joined X in mid-1977 the line up was complete. They released six studio records, five or six singles and one live record from 1978-1993.</p>
                            <p class="text-[16px] font-normal text-body mb-12">Thanks!</p>
                            <div class="inventual-notification-feedback default-light-theme">
                                <button mat-raised-button color="primary" [routerLink]="['/newmessage']"><mat-icon>reply</mat-icon> Reply</button>
                                <button mat-raised-button color="primary"><mat-icon>forward</mat-icon> Forward</button>
                                <button mat-raised-button color="primary"><mat-icon>delete</mat-icon> Delete</button>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <div class="inventual-notification rounded-[10px] flex flex-wrap p-5">
                                <div class="inventual-notification-img me-5 w-12">
                                    <img src="../../../../assets/img/user/inbox-2.png" alt="img not found">
                                </div>
                                <div class="inventual-notification-text w-full relative">
                                    <h5 class="text-[18px] font-bold text-heading mb-1">Hardik</h5>
                                    <span class="text-[14px] font-semibold text-heading block mb-1">Minimize the stock</span>
                                    <p class="text-[13px] font-normal text-body">If you have additional questions.....</p>
                                    <figure class="text-[12px] font-semibold text-heading absolute top-0 -end-5">03: 25 PM</figure>
                                </div>
                            </div>
                        </ng-template>
                        <div class="inventual-notification-body">
                            <h4 class="text-[24px] font-bold text-heading mb-10">Minimize the stock</h4>
                            <h5 class="text-[18px] font-bold text-heading mb-1">Hardik</h5>
                            <span class="text-[14px] font-semibold text-body block mb-11">03: 25 PM</span>
                            <span class="text-[16px] font-normal text-body block mb-4 pb-0.5">Hi, </span>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-6">In September last year, I wrote about some of the latest updates in our beloved DevTools, across Firefox, Chrome, Safari, and Edge. Four months have already passed since then, and the different teams working on DevTools have been busy! In these four months, they built a lot of new things for us to use. </p>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-6">In fact, administration experience is often assumed or glossed over in software, because 99% users never engage with it directly.</p>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-12 pb-0.5">From powerful productivity improvements to entire new panels, they’ve been continuing to close the parity gap and innovate with new means of debugging and improving our web experiences.</p>
                            <p class="text-[16px] font-normal text-body mb-12">Thanks!</p>
                            <div class="inventual-notification-feedback default-light-theme">
                                <button mat-raised-button color="primary" [routerLink]="['/newmessage']"><mat-icon>reply</mat-icon> Reply</button>
                                <button mat-raised-button color="primary"><mat-icon>forward</mat-icon> Forward</button>
                                <button mat-raised-button color="primary"><mat-icon>delete</mat-icon> Delete</button>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <div class="inventual-notification rounded-[10px] flex flex-wrap p-5">
                                <div class="inventual-notification-img me-5 w-12">
                                    <img src="../../../../assets/img/user/inbox-3.png" alt="img not found">
                                </div>
                                <div class="inventual-notification-text w-full relative">
                                    <h5 class="text-[18px] font-bold text-heading mb-1">Shane Watson</h5>
                                    <span class="text-[14px] font-semibold text-heading block mb-1">Minimize the stock</span>
                                    <p class="text-[13px] font-normal text-body">You'll get posts from this creator in.....</p>
                                    <figure class="text-[12px] font-semibold text-heading absolute top-0 -end-5">08: 30 PM</figure>
                                </div>
                            </div>
                        </ng-template>
                        <div class="inventual-notification-body">
                            <h4 class="text-[24px] font-bold text-heading mb-10">Minimize the stock</h4>
                            <h5 class="text-[18px] font-bold text-heading mb-1">Shane Watson</h5>
                            <span class="text-[14px] font-semibold text-body block mb-11">08: 30 PM</span>
                            <span class="text-[16px] font-normal text-body block mb-4 pb-0.5">Hi, </span>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-6">In 1988 John started a family and lived in the Tehachapi Mountains, near the “Grapevine” of Highway 5, which separates southern and central California. He has recorded 8 solo records w/ numerous renowned singers and players, more recently including Patty Griffin, Dan Auerbach, Aimee Mann, Don Was, Kathleen Edwards and Greg Liesz.</p>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-6">He has appeared in over 50 films and television productions, with some of his most notable roles in Road House, Georgia, Roadside Prophets, Great Balls of Fire, Pure Country and Roswell.</p>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-12 pb-0.5">He continues to act these days but more sporadically as his touring schedule has become more demanding.</p>
                            <p class="text-[16px] font-normal text-body mb-12">Thanks!</p>
                            <div class="inventual-notification-feedback default-light-theme">
                                <button mat-raised-button color="primary" [routerLink]="['/newmessage']"><mat-icon>reply</mat-icon> Reply</button>
                                <button mat-raised-button color="primary"><mat-icon>forward</mat-icon> Forward</button>
                                <button mat-raised-button color="primary"><mat-icon>delete</mat-icon> Delete</button>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <div class="inventual-notification rounded-[10px] flex flex-wrap p-5">
                                <div class="inventual-notification-img me-5 w-12">
                                    <img src="../../../../assets/img/user/inbox-4.png" alt="img not found">
                                </div>
                                <div class="inventual-notification-text w-full relative">
                                    <h5 class="text-[18px] font-bold text-heading mb-1">David Warner</h5>
                                    <span class="text-[14px] font-semibold text-heading block mb-1">Minimize the stock</span>
                                    <p class="text-[13px] font-normal text-body">You'll get posts from this creator.....</p>
                                    <figure class="text-[12px] font-semibold text-heading absolute top-0 -end-5">01: 20 AM</figure>
                                </div>
                            </div>
                        </ng-template>
                        <div class="inventual-notification-body">
                            <h4 class="text-[24px] font-bold text-heading mb-10">Minimize the stock</h4>
                            <h5 class="text-[18px] font-bold text-heading mb-1">David Warner</h5>
                            <span class="text-[14px] font-semibold text-body block mb-11">01: 20 AM</span>
                            <span class="text-[16px] font-normal text-body block mb-4 pb-0.5">Hi, </span>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-6">The legislative branch drafts proposed laws, confirms or rejects presidential nominations for heads of federal agencies, federal judges, and the Supreme Court, and has the authority to declare war. This branch includes Congress (the Senate and House of Representatives) and special agencies and offices that provide support services to Congress.</p>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-6">In fact, administration experience is often assumed or glossed over in software, because 99% users never engage with it directly.</p>
                            <p class="text-[16px] font-normal text-body leading-[26px] mb-12 pb-0.5">Other musical side projects include work with the Knitters, Jill Sobule and The Sadies. He continues to write poetry and has even taught workshops from time to time. He currently lives north of San Francisco, California.</p>
                            <p class="text-[16px] font-normal text-body mb-12">Thanks!</p>
                            <div class="inventual-notification-feedback default-light-theme">
                                <button mat-raised-button color="primary" [routerLink]="['/newmessage']"><mat-icon>reply</mat-icon> Reply</button>
                                <button mat-raised-button color="primary"><mat-icon>forward</mat-icon> Forward</button>
                                <button mat-raised-button color="primary"><mat-icon>delete</mat-icon> Delete</button>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
          </div>
        </div>
    </div>
</div>