<div class="inventual-role-list border-b border-solid border-border flex items-center">
    <div class="inventual-role-left">
        <div class="inventual-role-topic">
            <h5 class="text-[18px] font-semibold text-heading mb-4">Settings</h5>
            <div class="inventual-role-checkbox default-light-theme">
                <mat-checkbox class="example-margin" [checked]="allComplete" [color]="task.color"
                    [indeterminate]="someComplete()" (change)="setAllABC($event.checked)">
                    {{task.name}}
                </mat-checkbox>
            </div>
        </div>
    </div>
    <div class="inventual-role-right w-full border-s border-solid border-border">
        <div class="inventual-role-category-list custom-height-50 flex items-center">
            <div class="inventual-role-checkbox-wrapper inventual-role-checkbox-wrapper2">
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem"
                        (change)="setSingleCheckA3($event.checked)">
                        Create SMS
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem"
                        (change)="setSingleCheckB3($event.checked)">
                        System Setting
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem"
                        (change)="setSingleCheckC3($event.checked)">
                        Mail Settings
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem"
                        (change)="setSingleCheckD3($event.checked)">
                        Currency Setting
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem"
                        (change)="setSingleCheckE3($event.checked)">
                        Language
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="inventual-role-category-list custom-height-50 flex items-center">
            <div class="inventual-role-checkbox-wrapper inventual-role-checkbox-wrapper2">
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem"
                        (change)="setSingleCheckF3($event.checked)">
                        Send Notification
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem"
                        (change)="setSingleCheckG3($event.checked)">
                        Backup Database
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem"
                        (change)="setSingleCheckH3($event.checked)">
                        Send Mail
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem"
                        (change)="setSingleCheckI3($event.checked)">
                        POS Setting
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem"
                        (change)="setSingleCheckJ3($event.checked)">
                        Time & Date
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="inventual-role-category-list custom-height-50 flex items-center">
            <div class="inventual-role-checkbox-wrapper inventual-role-checkbox-wrapper2">
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem"
                        (change)="setSingleCheckK3($event.checked)">
                        Send SMS
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem"
                        (change)="setSingleCheckL3($event.checked)">
                        Mail Create
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem"
                        (change)="setSingleCheckM3($event.checked)">
                        SMS Setting
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem"
                        (change)="setSingleCheckN3($event.checked)">
                        Newsletter Setting
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem"
                        (change)="setSingleCheckO3($event.checked)">
                        Create Role
                    </mat-checkbox>
                </div>
            </div>
        </div>
    </div>
</div>