@import '../../../../custom-palettes.scss';

//sidebar menu style
@include inventualSidebarMuneStyle;
// Input field style
@include inventualInputFieldStyle;

.inventual-role-checkbox-wrapper2 {
  .inventual-role-checkbox {
    flex-basis: 20%;
    @media (min-width: 992px) and (max-width: 1200px) {
      flex-basis: 33.33%;
    }
    @media (max-width: 991px) {
      flex-basis: 50%;
    }
  }
  @media (max-width: 1200px) {
    flex-wrap: wrap;
    justify-content: start;
    align-self: normal;
  }
}
.custom-height-100 {
    height: 100px;
}
.custom-height-50 {
    height: 50px;
}