@import '../../../../custom-palettes.scss';

.inventual-profile-info-btn {
    button {
        @apply h-12;
        @apply inline-block;
        @apply text-[16px];
        @apply font-bold;
        @apply px-6;
        @apply border;
        @apply border-solid;
        @apply border-border;
        @apply rounded-[5px];
        transition: all linear 0.3s;
        &:hover {
            @apply bg-primary;
            @apply border-primary;
            @apply text-white;
        }
    }
}

//sidebar menu style
@include inventualSidebarMuneStyle;
// Select field style
@include inventualSelectFieldStyle;
// Input field style
@include inventualInputFieldStyle;
@include inventualInputFieldEyeStyle;
@include inventualMaterialBtn;

.custom-height-70 {
    height: 70px;
    min-height: 70px;
}
.inventual-input-field-styles input,
.inventual-input-field-style input {
	&::-moz-placeholder,
	&::placeholder {
		@apply text-body;
		@apply opacity-100;
		@apply font-primary;
		@apply font-normal;
	}
}