<div class="inventual-dashboard-area">
  <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
    <div class="inventual-header-bar-responsive" (click)="myfunction()">
      <mat-icon>reorder</mat-icon>
    </div>
    <div
      class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
      <app-menu></app-menu>
    </div>
    <div class="inventual-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
  </div>
  <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
    <div class="inventual-header-area">
      <div class="inventual-header-wrapper custom-height-70 px-7 bg-white border-b border-solid border-border">
        <div class="grid grid-cols-12 items-center h-full">
          <div class="col-span-12">
            <app-header></app-header>
          </div>
        </div>
      </div>
    </div>
    <div class="inventual-breadcrumb-area px-7 py-9 bg-white mb-5">
      <div class="inventual-breadcrumb-area-inner px-0.5">
        <h5 class="text-[20px] text-heading font-bold mb-3">Profil</h5>
        <div class="inventual-breadcrumb-area-inner-wrap">
          <span class="text-[14px] text-body font-normal inline-block me-2"></span>
          <span class="text-[14px] text-body font-normal inline-block me-2">Utilisateur</span>
          <span class="text-[14px] text-body font-normal inline-block me-2">></span>
          <span class="text-[14px] text-body font-normal inline-block me-2">Profil</span>
        </div>
      </div>
    </div>
    <div class="inventual-content-area px-7">
      <div class="inventual-addsupplier-area bg-white p-7 custom-shadow rounded-8 mb-1">
        <div class="inventual-profile-area">
          <div class="inventual-profile-wrapper flex items-center sm:block pb-1 mb-14">
            <div class="inventual-profile-info flex items-center me-20 sm:me-0 sm:mb-5">
              <div class="inventual-profile-info-img me-5">
                <img src="../../../../assets/img/user/user-profile.png" alt="img not found">
              </div>
              <div class="inventual-profile-info-text">
                <h4 class="text-heading font-bold text-[24px] mb-1">{{profil.nom + " " + profil.prenom}}</h4>
                <span class="text-[16px] text-body">{{profil.fonction}}</span>
              </div>
            </div>
            <div class="inventual-profile-info-btn">
              <button type="button" (click)="editProfileEnable()">Modifier le Profil </button>
            </div>
          </div>
          <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Email</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">joseph@example.com</mat-label>
                    <input type="email" matInput [placeholder]="profil.email" value={{profil.email}}
                      [disabled]="isProfileEnabled ? false : true">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Mot de passe</h5>
                <div class="inventual-input-field-style inventual-input-field-style-eye">
                  <mat-form-field appearance="fill">
                    <mat-label class="hidden">Entrez votre mot de passe</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'"
                      [disabled]="isProfileEnabled ? false : true">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Role</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="profil.id_role" [disabled]="isProfileEnabled ? false : true">
                      <mat-option>Selectionnez un role</mat-option>
                      <mat-option *ngFor="let role of roles" [value]="role.id">{{role.nom}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Nom</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">Joseph Tylor</mat-label>
                    <input matInput [placeholder]="profil.nom" value={{profil.nom}}
                      [disabled]="isProfileEnabled ? false : true">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Prénom</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">Joseph Tylor</mat-label>
                    <input matInput [placeholder]="profil.prenom" value={{profil.prenom}}
                      [disabled]="isProfileEnabled ? false : true">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Téléphone</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">00 000 000 000</mat-label>
                    <input matInput [placeholder]="profil.telephone.toString()" value={{profil.telephone}}
                      [disabled]="isProfileEnabled ? false : true">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Adresse</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">Joseph Tylor</mat-label>
                    <input matInput [placeholder]="profil.adresse"
                      value={{profil.adresse}} [disabled]="isProfileEnabled ? false : true">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Fonction</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">Joseph Tylor</mat-label>
                    <input matInput [placeholder]="profil.fonction"
                      value={{profil.fonction}} [disabled]="isProfileEnabled ? false : true">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-12">
              <div class="inventual-material-btn pt-2.5 justify-end">
                <button mat-raised-button color="primary" [disabled]="isProfileEnabled ? false : true">Modifier le
                  Profil</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inventual-copyright-area pt-9 xl:pt-0 lg:pt-0 md:pt-0 sm:pt-0">
        <app-copyright></app-copyright>
      </div>
    </div>
  </div>