@import '../../../../../custom-palettes.scss';

@include inventualInputFieldStyle;
@include inventualHeaderSearchAction;
@include inventualMaterialBtn;
@include commonActionMenuStyle;
@include inventualMaterialTableStyle;

.search-results {
    position: absolute;
    top: 50px; /* Adjust according to your design */
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 200px; /* Adjust according to your design */
    overflow-y: auto;
    z-index: 999;
}

.name {
    cursor: pointer;
    padding: 5px;
}