<mat-dialog-content>
    <div class="popup-body">
        <div class="inventual-popup-inner">
            <div>
                <div class="thanks-message text-center">
                    <i><mat-icon>done</mat-icon></i>
                    <h4>Payment Completed Successfully</h4>
                    <p class="mb-5">Thank You! Your purchase is Complete</p>
                    <button type="button" class="inventual-btn secondary-btn" (click)="invoice()" mat-dialog-close>View Invoice</button>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>