<mat-dialog-content>
    <div class="popup-body">
        <div class="inventual-popup-inner">
            <div class="inventual-popup-header relative mb-11">
                <div class="inventual-popup-header-title">
                    <h4 class="text-[20px] text-heading font-bold">Add Warehouse</h4>
                </div>
                <div class="inventual-popup-header-close absolute -top-4 ltr:-right-2.5 ltr:left-auto rtl:left-0 rtl:right-auto">
                    <mat-dialog-actions>
                        <div class="default-light-theme">
                            <a href="javascript:void(0)" mat-dialog-close>
                                <mat-icon>clear</mat-icon>
                            </a>
                        </div>
                    </mat-dialog-actions>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Name</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input matInput [placeholder]="'Warehouse 1'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Phone</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">+02 587 698 771</mat-label>
                                <input matInput [placeholder]="'Warehouse 1'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Email</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">+02 587 698 771</mat-label>
                                <input type="email" matInput [placeholder]="'info@example.com'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">City</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">+02 587 698 771</mat-label>
                                <input matInput [placeholder]="'New York'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Country</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">+02 587 698 771</mat-label>
                                <input matInput [placeholder]="'United States'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Address</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">+02 587 698 771</mat-label>
                                <input matInput [placeholder]="'2751 Polk Street, Tucson'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Zip</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">+02 587 698 771</mat-label>
                                <input matInput [placeholder]="'85701'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-12">
                    <div class="inventual-material-btn pt-1.5 justify-end">
                        <button type="submit" mat-raised-button color="primary">Create Warehouse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>