<div class="inventual-dashboard-transaction-wrapper p-7 bg-white rounded-8 mb-5">
  <mat-tab-group animationDuration="0ms" mat-align-tabs="start">
    <mat-tab label="Sale">
      <div class="inventual-common-table">
        <table class="!min-w-full" mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
          </ng-container>

          <ng-container matColumnDef="reference">
            <th mat-header-cell *matHeaderCellDef> Reference </th>
            <td mat-cell *matCellDef="let row"> {{row.reference}} </td>
          </ng-container>

          <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef> Customer </th>
            <td mat-cell *matCellDef="let row"> {{row.customer}} </td>
          </ng-container>

          <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef> Payment Mode </th>
            <td mat-cell *matCellDef="let row"> {{row.payment}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let row">
              <div>
                <span *ngIf="row.status === 'Complete'" class="badge badge-success">Complete</span>
                <span *ngIf="row.status === 'Partial'" class="badge badge-teal">Partial</span>
                <span *ngIf="row.status === 'Unpaid'" class="badge badge-danger">Unpaid</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let row"> ${{row.amount}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">
              <div class="table-data-not-found">
                <p>No data found! </p>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Purchase">
      <div class="inventual-common-table">
        <table class="!min-w-full" mat-table [dataSource]="dataSourceA">

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
          </ng-container>

          <ng-container matColumnDef="reference">
            <th mat-header-cell *matHeaderCellDef> Reference </th>
            <td mat-cell *matCellDef="let row"> {{row.reference}} </td>
          </ng-container>

          <ng-container matColumnDef="supplier">
            <th mat-header-cell *matHeaderCellDef> Supplier </th>
            <td mat-cell *matCellDef="let row"> {{row.supplier}} </td>
          </ng-container>

          <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef> Payment Mode </th>
            <td mat-cell *matCellDef="let row"> {{row.payment}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let row">
              <div>
                <span *ngIf="row.status === 'Complete'" class="badge badge-success">Complete</span>
                <span *ngIf="row.status === 'Partial'" class="badge badge-teal">Partial</span>
                <span *ngIf="row.status === 'Unpaid'" class="badge badge-danger">Unpaid</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let row"> ${{row.amount}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsA"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsA;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">
              <div class="table-data-not-found">
                <p>No data found! </p>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Payment">
      <div class="inventual-common-table">
        <table class="!min-w-full" mat-table [dataSource]="dataSourceB">

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
          </ng-container>

          <ng-container matColumnDef="reference">
            <th mat-header-cell *matHeaderCellDef> Reference </th>
            <td mat-cell *matCellDef="let row"> {{row.reference}} </td>
          </ng-container>

          <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef> Payment Mode </th>
            <td mat-cell *matCellDef="let row"> {{row.payment}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let row">
              <div>
                <span *ngIf="row.status === 'Complete'" class="badge badge-success">Complete</span>
                <span *ngIf="row.status === 'Partial'" class="badge badge-teal">Partial</span>
                <span *ngIf="row.status === 'Unpaid'" class="badge badge-danger">Unpaid</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let row"> ${{row.amount}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsB"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsB;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">
              <div class="table-data-not-found">
                <p>No data found! </p>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Returns">
      <div class="inventual-common-table">
        <table class="!min-w-full" mat-table [dataSource]="dataSourceC">

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
          </ng-container>

          <ng-container matColumnDef="voucher">
            <th mat-header-cell *matHeaderCellDef> Voucher </th>
            <td mat-cell *matCellDef="let row"> {{row.voucher}} </td>
          </ng-container>

          <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef> Customer </th>
            <td mat-cell *matCellDef="let row"> {{row.customer}} </td>
          </ng-container>

          <ng-container matColumnDef="biller">
            <th mat-header-cell *matHeaderCellDef> Biller </th>
            <td mat-cell *matCellDef="let row"> {{row.biller}} </td>
          </ng-container>

          <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef> Remark </th>
            <td mat-cell *matCellDef="let row"> {{row.remark}} </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let row"> ${{row.amount}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsC"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsC;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">
              <div class="table-data-not-found">
                <p>No data found! </p>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Expense">
      <div class="inventual-common-table">
        <table class="!min-w-full" mat-table [dataSource]="dataSourceD">

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
          </ng-container>

          <ng-container matColumnDef="voucher">
            <th mat-header-cell *matHeaderCellDef> Voucher </th>
            <td mat-cell *matCellDef="let row"> {{row.voucher}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Expense </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let row"> {{row.category}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Payment </th>
            <td mat-cell *matCellDef="let row">
              <div>
                <span *ngIf="row.status === 'Complete'" class="badge badge-success">Complete</span>
                <span *ngIf="row.status === 'Partial'" class="badge badge-teal">Partial</span>
                <span *ngIf="row.status === 'Unpaid'" class="badge badge-danger">Unpaid</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let row"> ${{row.amount}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsD"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsD;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">
              <div class="table-data-not-found">
                <p>No data found! </p>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>