@import '../../../../../../../custom-palettes.scss';

.inventual-popup-inner {
    width: 830px;
    @apply p-7;
    @media (min-width: 992px) and (max-width: 1200px) {
        width: 805px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        width: 615px;
    }
    @media (max-width: 767px) {
        width: 100%;
    }
}
//popup close btn
@include inventualPopupClose;
//popup common style
@include popupCommonStyle;

.inventual-invoice-popup-address {
    h5 {
        @apply text-[16px];
        @apply font-bold;
        @apply text-heading;
        @apply mb-4;
    }
    ul {
        li {
            @apply text-[14px];
            @apply font-bold;
            @apply text-heading;
            @apply mb-2;
            &:last-child {
                @apply mb-0;
            }
            span {
                @apply text-[14px];
                @apply font-normal;
                @apply text-body;
            }
        }
    }
}

.inventual-invoice-table-list {
    @apply flex;
    @apply items-center;
    @apply border-b;
    @apply border-solid;
    @apply border-border;
}
.inventual-invoice-table-sl,
.inventual-invoice-table-sll,
.inventual-invoice-table-product,
.inventual-invoice-table-batch,
.inventual-invoice-table-unit,
.inventual-invoice-table-price,
.inventual-invoice-table-qty,
.inventual-invoice-table-tax,
.inventual-invoice-table-discount,
.inventual-invoice-table-total {
    @apply flex;
    @apply justify-center;
    @apply flex-col;
    @apply h-full;
    @apply px-2.5;
    h5 {
        @apply text-[15px];
        @apply font-semibold;
        @apply text-heading;
    }
    span {
        @apply text-[14px];
        @apply font-normal;
        @apply text-body;
    }
}
.inventual-invoice-table-sl {
    min-width: 40px;
    width: 40px;
}
.inventual-invoice-table-product {
    min-width: 170px;
    width: 170px;
}
.inventual-invoice-table-sll {
    min-width: 209px;
    width: 209px;
}
.inventual-invoice-table-batch {
    min-width: 95px;
    width: 95px;
}
.inventual-invoice-table-unit {
    min-width: 50px;
    width: 50px;
}
.inventual-invoice-table-price {
    min-width: 90px;
    width: 90px;
}
.inventual-invoice-table-qty {
    min-width: 50px;
    width: 50px;
}
.inventual-invoice-table-tax {
    min-width: 90px;
    width: 90px;
}
.inventual-invoice-table-discount {
    min-width: 90px;
    width: 90px;
}
.inventual-invoice-table-total {
    @apply border-e-0;
}
.custom-height-70 {
    height: 70px;
}

//inventual header searchbar action
@include inventualHeaderSearchAction;

.inventual-invoice-popup-btn.inventual-table-header-search-action-btn button {
    width: inherit;
    @apply px-4;
    @apply inline-flex;
    @apply items-center;
    @apply m-0;
    @apply me-4;
    @apply text-[14px];
    @apply font-semibold;
    @apply leading-[38px];
    & svg {
        @apply me-2.5;
      }
    &.printer {
        @apply text-primary;
        @apply sm:mb-2.5;
    }
    &.pdf {
        @apply text-warning;
        @apply sm:mb-2.5;
    }
}

.inventual-invoice-table-inner {
	@media (max-width: 991px) {
		overflow-x: auto;
		scrollbar-height: thin;
	}
}
.inventual-invoice-table-inner-wrapper {
	@media (max-width: 991px) {
		min-width: 100%;
        width: 740px;
		scrollbar-height: thin;
	}
}
.inventual-invoice-popup-heading {
    ul {
        li {
            @apply border-e-0 sm:py-1;
            span {
                @apply p-0;
            }
        }
    }
}