<mat-dialog-content>
    <div class="popup-body">
        <div class="inventual-popup-inner">
            <div class="inventual-popup-header relative mb-11">
                <div class="inventual-popup-header-title">
                    <h4 class="text-[20px] text-heading font-bold">Edit Profile</h4>
                </div>
                <div class="inventual-popup-header-close absolute -top-4 ltr:-right-2.5 ltr:left-auto rtl:left-0 rtl:right-auto">
                    <mat-dialog-actions>
                        <div class="default-light-theme">
                            <a href="javascript:void(0)" mat-dialog-close>
                                <mat-icon>clear</mat-icon>
                            </a>
                        </div>
                    </mat-dialog-actions>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">User Name</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input matInput [placeholder]="'User Name'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Email</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input type="email" matInput [placeholder]="'Email'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Password</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input type="password" matInput [placeholder]="'Password'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Age</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input matInput [placeholder]="'Your age'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Skills</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input matInput [placeholder]="'Your skills'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Language</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input matInput [placeholder]="'Language'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Experience</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input matInput [placeholder]="'Experiences'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Address</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input matInput [placeholder]="'Address'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Zip</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input matInput [placeholder]="'Zip Code'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Availability</h5>
                        <div class="inventual-select-field-style">
                            <mat-form-field>
                                <mat-select class="block" [placeholder]="'Select Type'">
                                    <mat-option value="language-1">Full Time</mat-option>
                                    <mat-option value="language-2">Part Time</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Description</h5>
                        <div class="inventual-input-field-style">
                            <textarea placeholder="Write about you"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-span-12">
                    <div class="inventual-popup-btn default-light-theme pt-1.5 justify-end">
                        <button type="submit" mat-raised-button color="primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>