<mat-dialog-content>
  <div class="popup-body">
    <div class="inventual-popup-inner">
      <div class="inventual-popup-header relative mb-11">
        <div class="inventual-popup-header-title">
          <h4 class="text-[20px] text-heading font-bold">Adjustment Details</h4>
        </div>
        <div
          class="inventual-popup-header-close absolute -top-4 ltr:-right-2.5 ltr:left-auto rtl:left-0 rtl:right-auto">
          <mat-dialog-actions>
            <div class="default-light-theme">
              <a href="javascript:void(0)" mat-dialog-close><mat-icon>clear</mat-icon></a>
            </div>
          </mat-dialog-actions>
        </div>
      </div>
      <div class="inventual-popup-header-content pb-3">
        <ul>
          <li class="text-[15px] font-semibold text-heading mb-4">Date : <span
              class="text-[15px] font-normal text-body">12/12/2022</span></li>
          <li class="text-[15px] font-semibold text-heading mb-4">Ref : <span
              class="text-[15px] font-normal text-body">S-9854965454</span></li>
          <li class="text-[15px] font-semibold text-heading mb-4">Warehouse 1 : <span
              class="text-[15px] font-normal text-body">S-9854965454</span></li>
        </ul>
      </div>
      <div class="inventual-viewpayment-table border border-solid border-border">
        <div class="inventual-viewpayment-table-inner">
          <div class="inventual-viewpayment-table-inner-wrapper">
            <div class="inventual-viewpayment-list h-10">
              <div class="inventual-viewpayment-products">
                <h5>Products</h5>
              </div>
              <div class="inventual-viewpayment-code">
                <h5>Code</h5>
              </div>
              <div class="inventual-viewpayment-unit">
                <h5>Unit</h5>
              </div>
              <div class="inventual-viewpayment-qty">
                <h5>Qty</h5>
              </div>
              <div class="inventual-viewpayment-amount">
                <h5>Amount</h5>
              </div>
              <div class="inventual-viewpayment-type">
                <h5>Type</h5>
              </div>
            </div>
            <div class="inventual-viewpayment-list h-14">
              <div class="inventual-viewpayment-products">
                <span>Earphone</span>
              </div>
              <div class="inventual-viewpayment-code">
                <span>89897498</span>
              </div>
              <div class="inventual-viewpayment-unit">
                <span>Quantity (q)</span>
              </div>
              <div class="inventual-viewpayment-qty">
                <span>25</span>
              </div>
              <div class="inventual-viewpayment-amount">
                <span>182.00</span>
              </div>
              <div class="inventual-viewpayment-type">
                <span>Addition</span>
              </div>
            </div>
            <div class="inventual-viewpayment-list h-14">
              <div class="inventual-viewpayment-products">
                <span>Dell Laptop</span>
              </div>
              <div class="inventual-viewpayment-code">
                <span>89894498</span>
              </div>
              <div class="inventual-viewpayment-unit">
                <span>Quantity (q)</span>
              </div>
              <div class="inventual-viewpayment-qty">
                <span>16</span>
              </div>
              <div class="inventual-viewpayment-amount">
                <span>287.00</span>
              </div>
              <div class="inventual-viewpayment-type">
                <span>Addition</span>
              </div>
            </div>
            <div class="inventual-viewpayment-list h-14">
              <div class="inventual-viewpayment-products">
                <span>Broken Sunglass</span>
              </div>
              <div class="inventual-viewpayment-code">
                <span>89397498</span>
              </div>
              <div class="inventual-viewpayment-unit">
                <span>Quantity (q)</span>
              </div>
              <div class="inventual-viewpayment-qty">
                <span>39</span>
              </div>
              <div class="inventual-viewpayment-amount">
                <span>980.00</span>
              </div>
              <div class="inventual-viewpayment-type">
                <span>Addition</span>
              </div>
            </div>
            <div class="inventual-viewpayment-list h-14">
              <div class="inventual-viewpayment-products">
                <span>Green Lamon</span>
              </div>
              <div class="inventual-viewpayment-code">
                <span>89497498</span>
              </div>
              <div class="inventual-viewpayment-unit">
                <span>Kilogram (kg)</span>
              </div>
              <div class="inventual-viewpayment-qty">
                <span>33</span>
              </div>
              <div class="inventual-viewpayment-amount">
                <span>425.00</span>
              </div>
              <div class="inventual-viewpayment-type">
                <span>Addition</span>
              </div>
            </div>
            <div class="inventual-viewpayment-list h-14">
              <div class="inventual-viewpayment-products">
                <span>Cannon Printer 360</span>
              </div>
              <div class="inventual-viewpayment-code">
                <span>89817498</span>
              </div>
              <div class="inventual-viewpayment-unit">
                <span>Quantity (q)</span>
              </div>
              <div class="inventual-viewpayment-qty">
                <span>25</span>
              </div>
              <div class="inventual-viewpayment-amount">
                <span>784.00</span>
              </div>
              <div class="inventual-viewpayment-type">
                <span>Addition</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>