<div class="inventual-login-area flex justify-center items-center w-full min-h-screen h-full">
    <div [formGroup]="form" (ngSubmit)="signIn(form.value)" class="inventual-login-wrapper">
        <div class="inventual-login-logo text-center mb-12">
            <img src="../../../../assets/img/logo/login-logo.png" alt="logo not found">
        </div>
        <div class="inventual-select-field mb-5">
            <div class="inventual-input-field-style">
                <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">Joseph Tylor</mat-label>
                    <input type="email" matInput [placeholder]="'Email'" formControlName="email">
                </mat-form-field>
                <caption><mat-icon>person_outline</mat-icon></caption>
            </div>
        </div>
        <div class="inventual-select-field mb-5">
            <div class="inventual-input-field-style inventual-input-field-style-eye">
                <mat-form-field appearance="fill">
                    <mat-label class="hidden">Entrez votre mot de passe</mat-label>
                    <input matInput [placeholder]="'Mot de passe'" [type]="hide ? 'password' : 'text'"
                        formControlName="mot_de_passe">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <div class="text-danger"
                    *ngIf="form.get('mot_de_passe')?.invalid && (form.get('mot_de_passe')?.dirty || submitted|| form.get('mot_de_passe')?.touched)">
                    Mot de passe est réquis.
                </div>
            </div>
        </div>
        <div class="inventual-login-footer-forgot mb-5">
            <a [routerLink]="['/forgotpassword']" class="text-[16px] inline-block text-primary">Mot de passe oublié ?</a>
        </div>
        <div class="inventual-login-btn mb-7">
            <div class="inventual-material-btn">
                <button type="submit" mat-raised-button color="primary" (click)="signIn(form.value)">Se connecter</button>
            </div>
        </div>
        <!-- <div class="inventual-login-footer">
            <div class="inventual-login-footer-account text-center">
                <span class="text-[16px] inline-block text-body">Vous n'avez pas de compte ? <a [routerLink]="['/auth/signup']"
                        class="text-[16px] text-primary">S'inscrire</a></span>
            </div>
        </div> -->
    </div>
</div>