<div class="inventual-login-area flex justify-center items-center min-h-screen w-full h-full">
    <div class="inventual-login-wrapper">
        <div class="inventual-login-logo text-center mb-12">
            <img src="../../../../assets/img/logo/login-logo.png" alt="logo not found">
        </div>
        <div class="inventual-select-field mb-5">
            <div class="inventual-input-field-style">
              <mat-form-field class="w-full" [floatLabel]="'always'">
                <mat-label class="hidden">Joseph Tylor</mat-label>
                <input matInput type="email" [placeholder]="'Email'">
              </mat-form-field>
              <caption><mat-icon>mail_outline</mat-icon></caption>
            </div>
        </div>
        <div class="inventual-login-btn mb-7">
            <div class="inventual-material-btn">
                <button type="submit" mat-raised-button color="primary">Send</button>
            </div>
        </div>
        <div class="inventual-login-footer">
            <div class="inventual-login-footer-account text-center">
                <span class="text-[16px] inline-block text-body">Back to? <a [routerLink]="['']" class="text-[16px] text-primary">Login</a></span>
            </div>
        </div>
    </div>
</div>